<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="loginManager">
    SELECT * FROM MANAGER
    WHERE MANAGER_ID = ?
    AND MANAGER_PASSWORD = ?
</entry>

<entry key="selectAllMember">
  <!-- SELECT USER_ID,
	       USER_NAME,
	       USER_PHONE,
	       EMAIL,
	       ENROLLDATE,
	       ADACCEPT
FROM USERINFO WHERE STATUS = 'Y' -->

 SELECT * FROM USERINFO WHERE STATUS = 'Y'
</entry>

<entry key="selectAllRoom">
<!--  SELECT ROOM_NO, 
       REGION_NO, 
       ROOM_NAME,
       ROOM_SIZE, 
       PRICE,
       STATUS
FROM ROOM -->

SELECT * FROM ROOM
</entry>

<entry key="selectAllQuestion">
   <!-- SELECT USER_ID,
          QT_PHONE,
          QT_DATE
   FROM QUESTION -->
   
   SELECT * FROM QUESTION
</entry>


<entry key = "deleteMember">
		UPDATE USERINFO
		SET STATUS = 'N'
		WHERE USER_ID = ?
</entry>
	
	
<entry key = "selectAllReview">
		SELECT * FROM REVIEW
</entry>


<entry key = "selectAllReservation">
		SELECT * FROM RESERVATION
</entry>

<entry key = "deleteQuestion">
     DELETE FROM QUESTION 
     WHERE USER_ID = ?
</entry>

<entry key = "deleteReview">
     DELETE FROM REVIEW
     WHERE REVIEW_NO = ?
</entry>

<entry key = "deleteRoom">
     DELETE FROM ROOM
     WHERE ROOM_NO = ?
</entry>

<entry key = "deleteReservation">
     DELETE FROM RESERVATION
     WHERE RV_NO = ?
</entry>

<entry key = "detailReview">
     SELECT * FROM REVIEW WHERE REVIEW_NO = ?
</entry>

<entry key = "selectReservation">
     SELECT * FROM RESERVATION WHERE RV_NO = ?
</entry>

<entry key = "selectBank">
     SELECT * FROM RVBANK WHERE RV_NO = ?
</entry>

<entry key = "updateRoom">
   UPDATE ROOM SET STATUS = 'Y' 
   WHERE ROOM_NO = ?
</entry>



</properties>