<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertReservation">
	
		INSERT INTO RESERVATION 
		VALUES( ?,
				?,  <!-- 룸번호 -->
				?,  <!-- 회원아이디 (회원 이름으로 테스트-> 아이디로 수정 필요) -->
				?, 
				?,
				SYSDATE, 
				?,
				?)
	</entry>
	
	<!-- 상품 예약 여부 정보 업데이트 -->
	<entry key="updateRoomStatement">
		UPDATE ROOM 
		SET STATUS='N'
		WHERE ROOM_NO = ?
	</entry>
	
	<!-- 상품 예약 번호 시퀀스 -->
	<entry key="selectRvNo">
		SELECT 'SHS'||RESER_SEQ.NEXTVAL RV_NO
		FROM DUAL
	</entry>
	
	
	<!-- 무통장 결제 정보 업데이트 -->
	<entry key="insertRvBank">
		INSERT INTO RVBANK 
			VALUES (?, 
				    ?, 
				    ?,
				    ?,
				    ?,
				    ?)
	</entry>
	
	<!-- 카드 결제 정보 업데이트 -->
	<entry key="insertRvCard">
		INSERT INTO RVPAYMENT
			VALUES (?, 
				    ?, 
				    ?,
				    ?)
	</entry>
	
	<!-- 예약 정보 SELECT -->
	<entry key="selReSuccessInfo">
		SELECT R.RV_NO, 
		       M.ROOM_NAME, 
		       U.USER_NAME, 
		       R.RV_PEOPLE, 
		       R.RV_DATE, 
		       R.RV_CONFIRM, 
		       R.RV_PAYMENT,
		       R.RV_REQUEST, 
		       B.AMOUNT B_AMOUNT, 
		       P.AMOUNT P_AMOUNT
		FROM RESERVATION R
		JOIN ROOM M ON R.ROOM_NO=M.ROOM_NO
        JOIN USERINFO U ON R.USER_ID=U.USER_ID
 		LEFT JOIN RVBANK B ON R.RV_NO=B.RV_NO
		LEFT JOIN RVPAYMENT P ON R.RV_NO=P.RV_NO
		WHERE R.RV_NO = ?
	</entry>
	
	<!-- 예약 정보 리스트 select -->
	<entry key="selectReserList">
		SELECT RV_NO, 
		       ROOM_NAME,
		       USER_ID, 
		       RV_PEOPLE,
		       RV_DATE, 
		       RV_CONFIRM,
		       RV_PAYMENT,
		       RV_REQUEST
		FROM RESERVATION
		JOIN ROOM USING(ROOM_NO)
		WHERE USER_ID = ?
		ORDER BY RV_DATE DESC
	</entry>
</properties>