<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectReviewList"> 
		SELECT *
		FROM (SELECT ROWNUM RNUM,A.*
			  FROM(SELECT
			  	   		 REVIEW_NO,
			  	   		 REGION_NAME,
			             REVIEW_TITLE,
		                 USER_ID,
		                 REVIEW_COUNT,
		                 REVIEW_DATE
		           FROM REVIEW
		           WHERE REVIEW_STATUS = 'Y'
				   ORDER BY REVIEW_DATE DESC) A)
		WHERE RNUM BETWEEN ? AND ?
		
	</entry>
	
	<entry key="insertReview">

	INSERT INTO REVIEW(REVIEW_NO,
					   REVIEW_TITLE,s
                   	   REGION_NAME,
                       REVIEW_CONTENT,
                       ROOM_NO,
                       USER_ID)
	VALUES(?,?,?,?,?,?)

	</entry>


	<!-- 총 게시글 개수 조회 -->
	<entry key="listCount">
		SELECT COUNT(*) COUNT
		FROM REVIEW
	</entry>

	<entry key="insertAttachmentList">

	INSERT INTO RVATTACHMENT(FILE_NO,
                             REVIEW_NO,
                             ORIGIN_NAME,
                             CHANGE_NAME,
                             FILE_PATH,
                             FILE_LEVEL
                             )
	VALUES(SEQ_FFNO.NEXTVAL,?,?,?,?,?)

	</entry>

	<!-- 게시글 번호 추출(시퀀스 발행) -->
	<entry key="selectReviewNo">
		SELECT SEQ_RRNO.NEXTVAL RNO
		FROM DUAL
	</entry>

	<entry key="increaseCount">
		UPDATE REVIEW
		SET REVIEW_COUNT = REVIEW_COUNT+1
		WHERE REVIEW_NO = ?
	</entry>

	<entry key="selectReview">
		SELECT REVIEW_NO,
				USER_ID,
				ROOM_NO,
				REVIEW_TITLE,
				REVIEW_CONTENT,
				REVIEW_DATE,
				REVIEW_COUNT,
				REVIEW_STATUS,
				REGION_NAME
		FROM REVIEW
		WHERE REVIEW_NO = ?
		AND REVIEW_STATUS = 'Y'
	</entry>
	
	
	
	<entry key="selectAttachment">

	SELECT *
	FROM RVATTACHMENT
	WHERE REVIEW_NO = ?


	</entry>

	
	<entry key="deleteReview">
	UPDATE REVIEW
	SET REVIEW_STATUS = 'N'
	WHERE REVIEW_NO = ?
	</entry>
	
	
	
	
	
	
	
	
</properties>

