<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="insertRoom">
        INSERT INTO ROOM (
            ROOM_NO, REGION_NO, ROOM_SIZE, ROOM_NAME, ROOM_ADDRESS, 
            PRICE, USE_NIGHT, PARKING, EATING, STATUS
        ) VALUES (
            ?, ?, ?, ?, ?, 
            ?, ?, ?, ?, 'Y'
        )
    </entry>
    
    <entry key="insertAttachment">
        INSERT INTO ATTACHMENT (
            FILE_NO, ROOM_NO, ORIGIN_NAME, CHANGE_NAME, 
            FILE_PATH, UPLOAD_DATE, FILE_LEVEL, STATUS
        ) VALUES (
            SEQ_FNO.NEXTVAL, ?, ?, ?, 
            ?, SYSDATE, ?, 'Y'
        )
    </entry>
    
    <entry key="selectRegionList">
        SELECT REGION_NO, REGION_NAME 
        FROM REGION 
        ORDER BY REGION_NO
    </entry>
    
    <entry key="selectThumbnailList">
    
        SELECT 
        	b.region_name AS regionName, 
        	A.*,
        	C.FILE_PATH || C.CHANGE_NAME AS TITLE_IMG
		FROM ROOM A, REGION B, ATTACHMENT C
		WHERE 1=1
		AND A.region_no = B.region_no
		AND A.ROOM_NO = C.ROOM_NO
		AND A.STATUS = 'Y'
		AND C.FILE_LEVEL = 1
    </entry>	
    
    <entry key="selectRoom">
    SELECT *
    FROM ROOM
    WHERE ROOM_NO = ?
    AND STATUS = 'Y'
</entry>

<entry key="selectAttachmentList">
    SELECT *
    FROM ATTACHMENT
    WHERE ROOM_NO = ?
    AND STATUS = 'Y'
    ORDER BY FILE_LEVEL
</entry>
</properties>