<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<!-- 로그인 -->
	<entry key="loginUser">
		SELECT *
		FROM USERINFO
		WHERE USER_ID = ?
		AND USER_PW = ?
		AND STATUS = 'Y'
	</entry>

	
	<!-- 회원가입 구문 -->
	<entry key="enrollUser">
		INSERT INTO USERINFO(USER_ID,
							 USER_PW,
							 USER_NAME,
							 USER_PHONE,
							 RRN,
							 EMAIL,
							 ZIP_CODE,
							 ADDRESS,
							 DETAIL_ADDRESS)
		VALUES(?,?,?,?,?,?,?,?,?)
	</entry>
	
	<!-- 회원 등록 -->
	<entry key="insertMember">
	INSERT INTO USERINFO(USER_ID,
                         USER_PW,
                         USER_NAME,
                         RRN,
                         USER_PHONE,
                         EMAIL,
                         ADACCEPT)
     VALUES(?,?,?,?,?,?,?)
	</entry>
	
	<!-- 아이디 중복 확인 -->
	<entry key="idCheck">
	SELECT USER_ID
	FROM USERINFO
	WHERE USER_ID = ?
	</entry>
	
	<!-- 회원정보 수정 -->
	<entry key="updateUser">
	UPDATE USERINFO
	SET USER_PHONE = ?,
    EMAIL = ?,
    ADACCEPT = ?
	WHERE USER_ID = ?
	AND STATUS = 'Y'
	</entry>
	
	<!-- 회원비밀번호 수정 -->
	<entry key="updatePwd">
	UPDATE USERINFO
	SET USER_PW = ?
	WHERE USER_ID = ?
	AND USER_PW = ?
	</entry>
	
	<!-- 회원탈퇴 -->
	<entry key="deleteUser">
	UPDATE USERINFO
	SET STATUS = 'N'
	WHERE USER_ID = ?
	AND USER_PW = ?
	</entry>

	<!-- 아이디 찾기 -->
	<entry key="FindId">
		SELECT USER_ID
		FROM USERINFO
		WHERE USER_NAME = ?
		AND USER_PHONE = ?
	</entry>
	
	<!-- 비밀번호 찾기 -->
	<entry key="FindPw">
		SELECT USER_PW
		FROM USERINFO
		WHERE USER_ID = ?
		AND USER_NAME = ?
		AND USER_PHONE = ?
	</entry>

	<!-- 상담신청 -->
	<entry key="insertQuestion">
		SELECT USER_PW
		FROM USERINFO
		WHERE USER_ID = ?
		AND USER_NAME = ?
		AND USER_PHONE = ?
	</entry>
	

</properties>